*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:linear-gradient(135deg,#0f172a,#020617);
color:white;

}

.dashboard{

display:flex;
min-height:100vh;

}

/* Sidebar */

.sidebar{

width:230px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
padding:30px;

}

.logo{

margin-bottom:40px;
font-weight:600;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:12px;
margin-bottom:10px;
border-radius:8px;
cursor:pointer;
transition:0.3s;

}

.sidebar li:hover{

background:#1e293b;

}

.active{

background:#22c55e;

}

/* Main */

.main{

flex:1;
padding:30px;

}

/* Navbar */

.navbar{

display:flex;
justify-content:space-between;
margin-bottom:30px;

}

.navbar input{

padding:10px 15px;
border:none;
border-radius:8px;

}

.nav-icons{

display:flex;
align-items:center;
gap:15px;

}

.nav-icons img{

border-radius:50%;

}

/* Cards */

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-bottom:30px;

}

.card{

background:rgba(255,255,255,0.05);
padding:20px;
border-radius:12px;
backdrop-filter:blur(10px);
transition:0.3s;

}

.card:hover{

transform:translateY(-6px);

}

.card h2{

margin:10px 0;

}

.green{

color:#22c55e;

}

.red{

color:#ef4444;

}

/* Chart */

.chart-box{

background:rgba(255,255,255,0.05);
padding:20px;
border-radius:12px;
margin-bottom:30px;

}

/* Table */

.table-box{

background:rgba(255,255,255,0.05);
padding:20px;
border-radius:12px;

}

table{

width:100%;
margin-top:15px;
border-collapse:collapse;

}

th,td{

padding:12px;
text-align:left;

}

tr:hover{

background:#1e293b;

}

button{

padding:6px 14px;
border:none;
border-radius:6px;
background:#22c55e;
cursor:pointer;

}

/* Responsive */

@media(max-width:900px){

.sidebar{

display:none;

}

}